:root {
    --rojo: #f3533a ;
    --azul: #4aaca7;
    --naranja: #fa9f42;
    --verde: #bad879;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}



h1,
h2,
h3,
label {
    font-family: 'Amatic SC', sans-serif;
}

a,
p {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* FOOTER */

footer {
    background-color: #f3533a;
    text-align: center;
    padding: 3rem;
    margin-top: 3rem;
}

.footer-logo {
    width: 100px;
    display: inline-block;
}

.footer-nav {
    margin-top: 2em;
}

.footer-nav li {
    margin-top: 1em;
}

.footer-nav li a {
    font-size: 1.25rem;
}

.sociales {
    font-size: 2rem;
    margin: 2rem 0;
}

.sociales-flex {
    display: flex;
    justify-content: space-around;
}